$heading-font-family: 'Abhaya Libre';
$body-font-family: 'Lora';

$btn-text-transform: none;
$btn-letter-spacing: 0.1px;
$btn-border-radius: 9999px;

$border-radius-root: 12px;

.theme--light.ec-app {
  background: #ffdadb !important;
}
